*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    scroll-behavior: smooth;
    --dark: #000000;
    --fontLightColor: #eeeeee;
    --blue: #2c90c8;
    --pink: #ae6da0;
    --red: #d52029;
    --green: #305226;
    --gold: rgb(209, 178, 0);
    --shadowInset10point4: inset 0 0 10px rgba(0, 0, 0, .4);
    --shadow10point5: 0 0 10px rgba(0, 0, 0, .5); 
    --shadow10point7: 0 0 10px rgba(0, 0, 0, .7);
    --shadow20point7: 0 0 20px rgba(0, 0, 0, .7);
    --shadow20point9: 0 0 20px rgba(0, 0, 0, .9);
}

body {
    position: relative;
    font-family: 'Gorditas', cursive;
    color: var(--fontLightColor);
    background-color: var(--dark);
}

.wrapper {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper h2 {
    padding: 10px 0 20px 0;
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: var(--shadow10point5);
}

.borderFrame {
    border: 5px solid var(--dark);
    box-shadow: var(--shadowInset10point4)
}

*::selection {
    color: var(--fontLightColor);
    background-color: var(--dark);
}

/* navbar */

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-bottom: 10px;
    background-color: var(--blue);
}

.navbar .menuLogo {
    display: block;
    width: 100%;
    max-width: 430px;
    padding: 20px 5px;
}

.navbar .menuLogo img {
    display: block;
    width: 100%;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navbar ul li {
    width: 100px;
    height: 50px;
    margin: 3px;
    border: 5px solid var(--dark);
    line-height: 40px;
    text-align: center;
    background-color: var(--dark);
    transition: background-color .3s;
}

.navbar ul li:hover {
    background-color: rgba(0, 0, 0, 0);
}

.navbar ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: var(--fontLightColor);
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar ul li:hover a {
    text-shadow: var(--shadow20point9);
}

/* header */

#socialmedia {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
    padding: 20px 5px;
    background-image: url('../images/homepage/gorillaz.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

#socialmedia h2 {
    padding: 5px;
}

#socialmedia .hero-shadow {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: -1;
}

#socialmedia .social-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#socialmedia .social-link {
    display: block;
    width: 60px;
    opacity: .8;
    transition: opacity .3s;
}

#socialmedia .social-link:hover {
    opacity: 1;
}

#socialmedia .social-link img {
    display: block;
    width: 100%;
}

/* about us */

#about {
    padding: 20px 0;
    background-color: var(--red);
}

#about .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#about .about-text-area {
    width: 100%;
    max-width: 600px;
    height: auto;
}

#about p {
    margin: 0 auto;
    padding: 5px;
    font-size: 1.1rem;
    line-height: 25px;
    text-align: justify;
}

#about img {
    display: block;
    width: 80%;
    max-width: 190px;
    margin: 15px auto;
    border: 5px solid var(--dark);
    box-shadow: var(--shadow10point7);
}

#about a {
    display: block;
    width: 130px;
    height: 30px;
    margin: 10px auto 3px auto;
    color: var(--fontLightColor);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    border: 5px solid var(--dark);
    background-color: var(--dark);
    transition: background-color .3s;
}

#about a:hover {
    background-color: rgba(0, 0, 0, 0);
}

/* songs */

#songs {
    padding: 20px 0;
    background-color: var(--green);
}

#songs .songs-list {
    display: block;
    width: 100%;
    max-width: 600px;
    height: 60vmax;
    max-height: 450px;
    margin: 10px auto 20px auto;
    border: 5px solid var(--dark);
    box-shadow: var(--shadow20point7);
}

/* gallery images */

#gallery-images {
    overflow: hidden;
}

#gallery-images ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
}

#gallery-images .gallery-item img {
    display: block;
    height: 150px;
}

#gallery-images .gallery-item {
    transition: opacity .4s;
}

#gallery-images .gallery-item:hover {
    opacity: .6;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    gap: 7px;
    background-color: var(--pink);
    text-align: center;
    padding: 20px 0;
    text-shadow: var(--shadow10point7);
}

footer a {
    color: var(--dark);
    text-decoration: none;
    text-transform: uppercase;
    transition: color .3s, background-color .3s;
}

footer a:hover {
    background-color: var(--dark);
    color: var(--fontLightColor);
}

/* up icon */

.upIcon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: var(--shadow10point7);
    z-index: 20;
}

.upIcon img {
    display: block;
    width: 65px;
    transition: opacity .4s;
}

.upIcon img:hover {
    opacity: .9;
}