#about .wrapper {
    flex-direction: row;
}

#about p {
    max-width: 340px;
}

.upIcon img {
    width: 80px;
}

#account-content-form {
    flex-direction: row;
    align-items: start;
}

#danger-zone div {
    flex-direction: row;
    align-items: start;
}

.bandMembers .band-content {
    flex-direction: row;
    flex-wrap: wrap;
}

.bandMembers .band-member {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}